#footer {
    position: absolute;
    top: 3315px;
    left: 0;
    width: 100%;
    height: 67px;
    padding: 20px 20px;
    background: #0B24FB;
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
    align-items: center; 
}

.copyright {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 12px;
    line-height: 14px;    
    color: #FFFFFF;
}

.copyright span{
    font-weight: 700;
}

.version {
    width: 94px;
    height: 18px;
    border: 1px solid #FFFFFF;
    border-radius: 9px;
}

.version p {
    font-family: 'Work Sans', sans-serif;
    font-size: 10px;
    font-weight: 200;
    line-height: 18px;    
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
}

/* RESPONSIVE */
@media (max-width: 320px) {
    #footer {
        top: 3410px;
    }
}

@media (min-width: 513px) and (max-width: 768px) {
    #footer {
        top: 3145px;
    }
}

@media (min-width: 841px) and (max-width: 1024px) {
    #footer {
        padding: 20px 20%;
        top: 2795px;
    }
}

