#upper-hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 667px;
    background: #EEBECE;
    overflow: hidden;
}

#upper-hero .title {
    font-family: 'Work Sans', sans-serif;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 134px;
    z-index: 2;
}

#upper-hero .title h1{
    font-size: 52px;
    line-height: 51px;
    font-weight: 800;
}

#upper-hero .title p {
    font-size: 16px;
    line-height: 19px;
    font-style: italic;
}

.path {
    position: absolute;
    width: 751.56px;
    height: 182.83px;
    left: -377px;
    top: 0px;
    z-index: 1;
}

.path2 {
    position: absolute;
    width: 1366px;
    height: 731.43px;
    left: -496px;
    top: 0px;
}

#upper-hero .path3 {
    display: none;
}

.oval {
    position: absolute;
    width: 132px;
    height: 132px;
    left: -66px;
    top: 273px;
    z-index: 1;
}

#upper-hero .content{
    width: 100%;
    height: 305px;
    width: 100%;
    position: absolute;
    top: 342px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#upper-hero img{
    width: 184px;
    height: 305px;
    z-index: 2;
}

#upper-hero button {
    z-index: 3;
    position: absolute;
    top: 195px;
    width: 210px;
    height: 50px;    
    background-color: #FFFFFF;
    box-shadow: 0px 20px 30px rgba(249, 131, 171, 0.5);
    border-radius: 29px;
    border: none;
}

#bottom-hero {
    position: absolute;
    width: 100%;
    height: 648px;
    left: 0px;
    top: 667px;
    background: #EEBECE;
}

#bottom-hero .upper svg{
    position: absolute;
    right: 0;
}

#bottom-hero .upper img{
    width: 95px;
    transform: rotate(-90deg);
    position: absolute;
    right: 32px;
}

.quote {
    position: absolute;
    top: 220px;
    padding: 0 30px;
    font-family: 'Work Sans', sans-serif;
    font-size: 17px;
}

.quote span{
    color: #0B24FB;
    font-weight: 700;
}

.quote p{
    text-align: right;
    line-height: 19px;
    color: #FFFFFF;
    font-style: italic;
}

.quote p:nth-child(1){
    font-style: normal;
    line-height: 24px;
    letter-spacing: -0.571429px;
    font-weight: 600;
    color: #000000;
}

#bottom-hero .bottom {
    width: 100%;
    position: absolute;
    top: 460px;
    padding: 0px 35px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.bottom h4{
    margin: 0;
    font-size: 32px;
    line-height: 38px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    color: #FFFFFF;
    position: absolute;
    left: 40px;
}

#bottom-hero .bottom svg{
    margin-bottom: 17px;
    margin-left: 30px;
}

/* RESPONSIVE */

@media (min-width: 841px) and (max-width: 1024px) {
    #upper-hero {
        height: 731.43px;;
    }

    #bottom-hero {
        height: 591px;
        top: 730px;
    }

    .path {
        left: 119px;
    }

    .path2{
        left: 0;
    }

    #upper-hero .path3 {
        display: block;
        position: absolute;
        width: 266px;
        height: 327px;
        left: 890px;
        top: 303px;
    }

    .oval {
        left: 240px;;
    }

    .quote{
        padding: 0 20%;
        font-size: 21px;
    }

    #bottom-hero .bottom {
        top: 400px;
    }

    .bottom h4 {
        left: 395px;
    }
}


